extends layout

block content
	body(ng-app="formlyApp",ng-controller="dash as vm")
		.container.col-md-6
			.row
				.col-md-12
					form(ng-submit="vm.onSubmit()" novalidate)
						h1 NEW PEOPLE
						formly-form(model="vm.logIn", fields="vm.logInFields", form="vm.logInForm")
							.row
								.col-md-offset-8.col-md-2
									button(type="submit",class="btn btn-primary",ng-disabled="vm.logInForm.$invalid") Submit
								.col-md-2
									a.btn.btn-primary.btn-success(href="/people/pdf") Reporte
				.col-md-12
					h1 PEOPLE
					table.table.table-striped
						tr
							th Nombre
							th País
							th Foto
						tr(ng-repeat="person in vm.people")
							th: a(ng-href="/people/{{person.IdPeople}}") {{person.name}}
							th {{person.contry}}
							th: img(ng-src="{{person.photo}}")
						tr
							th {{vm.logIn.name}}
							th {{vm.logIn.contry}}
							th: img(ng-src="{{vm.logIn.photo}}")
		.container.col-md-5.col-md-offset-1
			.col-md-12
				form(ng-submit="vm.edit()" novalidate)
					h1 EDIT USER
					formly-form(model="vm.editSession", fields="vm.editSessionFields", form="vm.editSessionForm")
						.row
							.col-md-offset-6.col-md-2
								button(type="submit",class="btn btn-primary",ng-disabled="vm.editSessionForm.$invalid") Update
							.col-md-2
								a.btn.btn-primary.btn-danger(href="/users/delete") Delete
							.col-md-2
								a.btn.btn-primary.btn-success(href="/logout") Logout
			.fln-hireme(data-username='LuisEnVilla', data-style='reputation', data-type='textlink', data-theme='dark', data-caption='Created by ' data-linktext='LuisEnVilla', data-qts='//t.flnwdgt.com/' )
	include scripts
	script(src="javascripts/dash.js")