extends layout

block content
	body(ng-app="formlyApp",ng-controller="editPeople as vm")
		.container.col-md-6.col-md-offset-3
			form(ng-submit="vm.onSubmit()" novalidate)
				h1 EDIT #{people.name}
				formly-form(model="vm.people", fields="vm.peopleFields", form="vm.peopleForm")
					.row
						.col-md-offset-6.col-md-2
							button(type="submit",class="btn btn-success",ng-disabled="vm.peopleForm.$invalid") Update
						.col-md-2
							a.btn.btn-primary.btn-danger(href="/people/delete/#{people.IdPeople}") Delete
						.col-md-2
							a.btn.btn-primary.btn-primary(href="/dashboard") Cancel
			.fln-hireme(data-username='LuisEnVilla', data-style='reputation', data-type='textlink', data-theme='dark', data-caption='Created by ' data-linktext='LuisEnVilla', data-qts='//t.flnwdgt.com/' )
	include scripts
	script(src="/javascripts/editPeople.js")