extends layout

block content
	body(ng-app="formlyApp",ng-controller="MainController as vm")
		.container.col-md-4.col-md-offset-4
			form(ng-submit="vm.onSubmit()" novalidate)
				h1 LOG IN!
				formly-form(model="vm.logIn", fields="vm.logInFields", form="vm.logInForm")
					.row
						.col-md-3.col-md-offset-6
							button(type="submit",class="btn btn-primary",ng-disabled="vm.logInForm.$invalid") Login
						.col-md-3
							a.btn.btn-success(href="/new") New User
			.fln-hireme(data-username='LuisEnVilla', data-style='reputation', data-type='textlink', data-theme='dark', data-caption='Created by ' data-linktext='LuisEnVilla', data-qts='//t.flnwdgt.com/' )
	include scripts
	script(src="javascripts/MainController.js")