extends layout

block content
	body(ng-app="formlyApp",ng-controller="newUser as vm")
		.container.col-md-4.col-md-offset-4
			form(ng-submit="vm.onSubmit()" novalidate)
				h1 NEW USER
				formly-form(model="vm.logIn", fields="vm.logInFields", form="vm.logInForm")
					button(type="submit",class="btn btn-primary",ng-disabled="vm.logInForm.$invalid") Submit
			.fln-hireme(data-username='LuisEnVilla', data-style='reputation', data-type='textlink', data-theme='dark', data-caption='Created by ' data-linktext='LuisEnVilla', data-qts='//t.flnwdgt.com/' )
	include scripts
	script(src="javascripts/newUser.js")