script.
	(function(d) {
		var po = d.createElement('script')
		po.type = 'text/javascript'; po.async = true; po.src = '//static.flnwdgt.com/build/js/hireme-sdk.js'
		var s = d.getElementsByTagName('script')[0]
		s.parentNode.insertBefore(po, s)
	})(document)

// Application Dependencies
script(src="/node_modules/api-check/dist/api-check.js")
script(src="/node_modules/angular/angular.js")
script(src="/node_modules/angular-formly/dist/formly.js")
script(src="/node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js")


// Application Scripts

script(src="/app.js")